.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.main-container {
	display: flex;
	background-color: #282c34;
	flex-direction: column;
}

.main-container__input {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-container__input-title {
	font-size: 16px;
	font-weight: bold;
	margin-right: 5px;
}

.main-container__input-values {
	display: flex;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 360px;
	white-space: nowrap;
}

.main-container__input-value {
	font-size: 40px;
	color: yellow;
}

.main-container__input-value:first-child {
	font-size: 45px;
}

.main-container__input-value.main-container__input-value_aligned {
	color: green;
}

.main-container__input-value.main-container__input-value_error {
	color: red;
}
